<profilesXml>

    <profiles>
        <profile>
            <id>local</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>

            <properties>

                <!--Customize these for your local environment-->
                <openxds.web.dir>${JBOSS_HOME}/server/default/deploy/openxds-web.war</openxds.web.dir>
                <openxds.http.base.url>localhost:21080/openxds-web</openxds.http.base.url>
                <mirthConnect.cli>/Users/kherm/dev/utils/Mirth_Connect_CLI/mccommand</mirthConnect.cli>
                <mirthConnect.server.dir>/Users/kherm/dev/utils/Mirth_Connect</mirthConnect.server.dir>
                <outputRootdir>${mirthConnect.server.dir}/temp</outputRootdir>

                <!--XDS database properties-->
                <cacis.xds.authz.db.url>jdbc:postgresql://localhost:5432/cacis-xds-authz</cacis.xds.authz.db.url>
                <cacis.xds.authz.db.username>postgres</cacis.xds.authz.db.username>
                <cacis.xds.authz.db.password>postgres</cacis.xds.authz.db.password>


                <!--OPTIONAL - change these for your local environment-->
                <!--Virtuoso database properties-->
                <cacis.virtuoso.db.url>jdbc:virtuoso://localhost:1111/charset=UTF-8/log_enable=2</cacis.virtuoso.db.url>
                <cacis.virtuoso.db.username>dba</cacis.virtuoso.db.username>
                <cacis.virtuoso.db.password>dba</cacis.virtuoso.db.password>

                <outputRootdir>${mirthConnect.server.dir}/temp/cacis</outputRootdir>
                <cdfOutputDir>${outputRootdir}/mc/output/cdf/</cdfOutputDir>
                <xccdOutputDir>${outputRootdir}/mc/output/xccd/</xccdOutputDir>
                <trimInputDir>${outputRootdir}/mc/input/</trimInputDir>
                <!--  Temporary directory for System test output file -->
                <cacis.mc.temp.dir>${outputRootdir}/temp/output/</cacis.mc.temp.dir>

                <maven.deploy.skip>true</maven.deploy.skip>

		<!-- Password of the email address we use to send emails with in nav (example in pom is a gmail account) -->
		<nav.sender.pass>changeme</nav.sender.pass>
            </properties>
        </profile>

    </profiles>
</profilesXml>
