<profilesXml>

    <profiles>
        <profile>
            <id>local</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>

            <properties>

                <!-- ############################################################################ -->
                <!--CUSTOMIZE these for your local environment-->
                <!-- ############################################################################ -->

		<!-- Replace <<CATALINA_HOME>> with absolute path to tomcat home location -->
		<catalina.home.dir><<CATALINA_HOME>></catalina.home.dir>
				
		<openxds.web.dir>
			${catalina.home.dir}/webapps/openxds-web
		</openxds.web.dir>
				
		<!-- Replace <<MIRTH CONNECT HOME>> with absolute path to Mirth Connect install location-->
                <mirthConnect.server.dir><<MIRTH CONNECT HOME>></mirthConnect.server.dir>

				<!-- Replace <<MIRTH CONNECT HOME>> with absolute path to mccommand of Mirth Connect. 
						Normally is inside the Mirth Connect install directory-->
                <mirthConnect.cli><<MIRTH CONNECT HOME>>/mccommand</mirthConnect.cli>
                
                <!--XDS database properties-->
                <cacis.xds.authz.db.url>jdbc:postgresql://localhost:5432/cacis-xds-authz</cacis.xds.authz.db.url>
                <cacis.xds.authz.db.username>postgres</cacis.xds.authz.db.username>
                <cacis.xds.authz.db.password>postgres</cacis.xds.authz.db.password>

                <mirth.base.url>http://localhost</mirth.base.url>
                <!--Integration Platform Service. Could be http or https-->
                <cacis-ip.cmp.service.url>${mirth.base.url}:18081/services/CanonicalModelProcessor?wsdl</cacis-ip.cmp.service.url>

                <!-- cacis proxy for xds -->
                <cacis.xds.proxy.repository.url>https://localhost:8443/openxds-web/services/cacis-proxy-xdsrepositoryb
                </cacis.xds.proxy.repository.url>

                <!-- Password of the email address we use to send emails with in nav (example in pom is a gmail account) -->
                <nav.sender.pass>c2c1sn2v</nav.sender.pass>

                <!--  Credentials for the system email that sends tranformation errors -->
                <transformation.sender.host>smtp.gmail.com</transformation.sender.host>
                <transformation.sender.port>587</transformation.sender.port>
                <transformation.sender.user>cacisnavtestuser</transformation.sender.user>
                <transformation.sender.pw>c2c1sn2v</transformation.sender.pw>
                <transformation.sender.address>cacisnavtestuser@gmail.com</transformation.sender.address>

                <!-- Sys Admin to receive errors -->
                <transformation.sysadmin.address>cacisnavtestsys@gmail.com</transformation.sysadmin.address>


                 <!-- Should be the user home directory-->
                 <userhome.dir>${user.home}</userhome.dir>
                 <cacis.config.home>${userhome.dir}/.cacis</cacis.config.home>

                <!-- these are the default keystore files caCIS uses -->
                <cacis.keystore.path>${cacis.config.home}/certs/cacis-keystore.jks</cacis.keystore.path>
                <cacis.keystore.password>password</cacis.keystore.password>
                
                <!-- Replace <<JAVA_HOME>> with absolute path to java home location -->
                <cacis.truststore.path><<JAVA_HOME>>/jre/lib/security/cacerts</cacis.truststore.path>
                <cacis.truststore.password>changeit</cacis.truststore.password>

                <!--openXDS service endpoints-->
                <xds.repository.url>http://localhost:8020/axis2/services/xdsrepositoryb</xds.repository.url>
                <xds.registry.url>http://localhost:8010/axis2/services/xdsregistryb</xds.registry.url>

                <!--Virtuoso database properties-->
                <cacis.virtuoso.db.url>jdbc:virtuoso://localhost:1111/charset=UTF-8/log_enable=2</cacis.virtuoso.db.url>
                <cacis.virtuoso.db.username>dba</cacis.virtuoso.db.username>
                <cacis.virtuoso.db.password>dba</cacis.virtuoso.db.password>

                <cdfOutputDir>${cacis.config.home}/mc/output/cdf/</cdfOutputDir>
                <xccdOutputDir>${cacis.config.home}/mc/output/xccd/</xccdOutputDir>
                <trimInputDir>${cacis.config.home}/mc/input/</trimInputDir>
                
                <!--  Temporary directory for System test output file -->
                <cacis.mc.temp.dir>${cacis.config.home}/mc/temp/output/</cacis.mc.temp.dir>

				<!-- How long to wait for mirth to restart? Configurable value. Can be different based on the time mirth takes to restart -->	
                <mirthConnect.server.pause>20000</mirthConnect.server.pause>
                
				<!-- This switch is set to true because there is a Failure to transfer artifact to https://ncimvn.nci.nih.gov/nexus/content/repositories/ -->
				<maven.deploy.skip>true</maven.deploy.skip>
								
				<!--  Validation of Trim (sourcedata section of CaCISRequest) coming in is controlled by the property set here.
						sa.trim.xsd.validation if set to true, Incoming trim will be validated against trim4.xsd
						sa.trim.xsd.validation is set to false, Incoming trim will NOT be validated against trim4.xsd --> 
		
				<sa.trim.xsd.validation>false</sa.trim.xsd.validation>		
		
		<!-- ############################################################################ -->
		<!-- PROPERTIES THAT ARE NEEDED FOR ADMIN UI -->
		<!-- ############################################################################ -->
		<!-- Replace <<TRUSTSTORE_NAME>> and <<TRUSTSTORE_PASSWORD>> with the name of the truststore and password used in 
			tomcat's server.xml connector -->
		<cacis.xds.server.truststore>${cacis.config.home}/certs/<<TRUSTSTORE_NAME>>.jks</cacis.xds.server.truststore>
		<cacis.xds.server.truststore.password><<TRUSTSTORE_PASSWORD>></cacis.xds.server.truststore.password>

		<cdw.graph.group.url.prefix>http://cacis.nci.nih.gov/</cdw.graph.group.url.prefix>
		<cdw.study.id.root>1.2.3</cdw.study.id.root>
		<cdw.site.id.root>4.5.6</cdw.site.id.root>
		<cdw.patient.id.root>7.8.9</cdw.patient.id.root>
		
		<sec.email.setup.notification.subject>Secure Email Recepient Setup</sec.email.setup.notification.subject>
		<sec.email.setup.notification.message>Secure Email setup was successfully completed</sec.email.setup.notification.message>
		
		<securexdsnav.setup.notification.subject>XDS / NAV Recepient Setup</securexdsnav.setup.notification.subject>
		<securexdsnav.setup.notification.message>XDS / NAV setup was successfully completed</securexdsnav.setup.notification.message>
		
		<!-- ############################################################################ -->
		<!-- SFTP PROPERTIES -->
		<!-- ############################################################################ -->
		<sftp.file.directory>${cacis.config.home}/sftp</sftp.file.directory>

            </properties>
        </profile>

    </profiles>
</profilesXml>
