<profiles>
    <profile>
        <id>local</id>
        <activation>
            <activeByDefault>true</activeByDefault>
        </activation>
        <properties>
            <maven.surefire.excludes>**/external/**</maven.surefire.excludes>
        </properties>
    </profile>
</profiles>
