<profilesXml>
<profiles>
    <profile>
        <id>local</id>
        <activation>
            <activeByDefault>true</activeByDefault>
        </activation>
        <properties>
            <maven.surefire.excludes>**/external/**</maven.surefire.excludes>
            <tolven.plugin.version>0.0.1</tolven.plugin.version>

             <tolven.installation.location>${user.home}/tolven-install</tolven.installation.location>
             <tolven.jboss.location>${JBOSS_HOME}</tolven.jboss.location>
        </properties>
    </profile>
</profiles>
</profilesXml>
