<profilesXml>
<profiles>
    <profile>
        <id>local</id>
        <activation>
            <activeByDefault>true</activeByDefault>
        </activation>
        <properties>
            <maven.surefire.excludes>**/external/**</maven.surefire.excludes>
            <tolven.plugin.version>0.0.1</tolven.plugin.version>

             <tolven.installation.location>${user.home}/tolven-install</tolven.installation.location>
             <tolven.jboss.location>${JBOSS_HOME}</tolven.jboss.location>
        </properties>
    </profile>
    <profile>
        <id>cacis-ci</id>
        <activation>
            <activeByDefault>false</activeByDefault>
        </activation>
        <properties>
            <maven.surefire.excludes>**/external/**</maven.surefire.excludes>
	        <tolven.plugin.version>0.0.1</tolven.plugin.version>
	
	        <tolven.jboss.protocol>http</tolven.jboss.protocol>
	        <tolven.jboss.hostname>localhost</tolven.jboss.hostname>
	        <tolven.jboss.port>8080</tolven.jboss.port>
	        <tolven.jboss.url>${tolven.jboss.protocol}://${tolven.jboss.hostname}:${tolven.jboss.port}</tolven.jboss.url>
	        <tolven.jboss.configuration>tolven</tolven.jboss.configuration>
	
	        <!--NOTE: customize this property for your tolven JBOSS location-->
	        <tolven.jboss.location>${JBOSS_HOME}</tolven.jboss.location>
	        <tolven.jboss.id>jboss42x</tolven.jboss.id>
	        <tolven.jboss.server>${tolven.jboss.location}/server/${tolven.jboss.configuration}</tolven.jboss.server>
	
	        <!--NOTE: customize this property for your tolven install location-->
	        <tolven.installation.location>${user.home}/Transcend/tolven</tolven.installation.location>
	        <tolven.release.location>${tolven.installation.location}/tolven-RC1</tolven.release.location>
	        <tolven.config.dir>${tolven.installation.location}/tolven-config</tolven.config.dir>
	
	        <cargo.timeout>300000</cargo.timeout>
	        <temp.dir.path>/tmp</temp.dir.path>
	        <skip.pcoplugin.deploy>false</skip.pcoplugin.deploy>
        </properties>
    </profile>    
</profiles>
</profilesXml>
