<?xml version="1.0" encoding="UTF-8" ?>
<!--

    Copyright 5AM Solutions Inc
    Copyright SemanticBits LLC
    Copyright AgileX Technologies, Inc
    Copyright Ekagra Software Technologies Ltd

    Distributed under the OSI-approved BSD 3-Clause License.
    See http://ncip.github.com/cacis/LICENSE.txt for details.

-->
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    
   <appender name="LOAD_LOGGER" class="org.apache.log4j.FileAppender">
        <param name="File" value="${cdw.load.log.file.location}" />
        <param name="Append" value="true" />
       <layout class="org.apache.log4j.PatternLayout"> 
          <param name="ConversionPattern" value="%d %-5p %c.%M:%L - %m%n"/> 
       </layout> 
    </appender>
 
    <!-- specify the logging level for loggers from other libraries -->
    <logger name="gov.nih.nci.cacis.cdw">
    	<level value="INFO" />
    </logger>

    <!-- for all other loggers log only error and above log messages -->
     <root>
        <priority value="ERROR"/> 
        <appender-ref ref="LOAD_LOGGER" /> 
     </root> 
    
</log4j:configuration> 